server:
  port: 8080

spring:
  application:
    name: api-gateway-lab

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: mobile-bff
              uri: http://localhost:8081
              predicates:
                - Path=/api/mobile/**
              filters:
                - StripPrefix=2
                - name: CircuitBreaker
                  args:
                    name: mobileBffCb
                    fallbackUri: forward:/__fallback/mobile-bff
management:
  endpoints:
    web:
      exposure:
        include: health,info

resilience4j:
  circuitbreaker:
    instances:
      mobileBffCb:
        sliding-window-type: COUNT_BASED
        sliding-window-size: 10
        minimum-number-of-calls: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 3

